* {
	font-family: 'Dosis', sans-serif;
}

h1 {
	font-weight: 600;
	font-style: italic;
	color: #454545;
	font-size: 2em;
}

body {
	border-top: 20px solid #454545;
}

.line-search {
	background: #E6421E;
	padding: 10px;
}

.search-input {
	position: relative;
	transition-duration: 0.3s;
	display: block;
}

.search-input input {
	border: none;
}

.partners {
	margin-top: -8px;
	width: 100px;
	background: #123176;
	float: right;
	padding: 10px;
}

.titulo-app {
	display: inline-block;
	text-align: center;
	width: 60%;
}

.logo-muffato {
	width: 200px;
}

.input-group-btn button {
	z-index: 2;
	margin-left: -1px;
	height: 46px;
	border: none;
	background: #454545;
	color: #fff;
}

.input-group input, .input-group button {
	border-radius: 0;
}

.customer {
	background: #f5f5f5;
	height: 50px;
	padding: 6px 20px;
	border: 2px solid #ccc;
	text-align: center;
}

.recommendation {
	min-height: 100px;
	margin: 10px 0;
	background: #454545;
	padding: 10px;
	display: -webkit-inline-box;
	max-width: 98%;
}
/* 
.recommendation:hover {
	opacity: .8;
}
 */
.prod {
	background: #e6421e;
	display: flex;
	height: 90px;
	margin: 5px;
	padding: 20px 0;
	text-align: center;
	display: block;
	color: #fff;
	font-weight: 600;
	width: 100px;
	display: inline-block;
}

.cate {
	background: #454545;
	height: 100px;
	display: block;
	width: 200px;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.5em;
}

.prod:hover, .cate:hover {
	text-decoration: none;
	color: #ddd;
	opacity: .8;
	font-weight: 600;
}

.prod .key, .cate .key {
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 2em;
	/* padding: 55px 0; */
}

.prod .key {
	background: #454545;
}

.cate .key {
	background: #e6421e;
}

.offer-container {
	display: inline-block;
}

.card {
	background: #454545;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.card .detail {
	color: #fff;
}

.categoria {
	color: #f1cf07;
	font-weight: 600;
}

.item-detail {
	margin: 10px 30px;
	background: rgba(204, 204, 204, .2);
	font-size: 1.3em;
	padding: 5px 20px;
}

.title-rule {
	display: block;
	padding: 5px;
	font-size: 1.5em;
	font-weight: 600;
	max-width: 50%;
}

.item-title {
	text-align: center;
	font-weight: 600;
	color: #e6421e;
}

.item-validate {
	font-size: 1.2em;
	text-align: center;
	    padding: 0 30px;
	color: #fff;
	margin: 0;
}

.detalhe {
	position: absolute;
	color: #da5321;
	right: 0;
	bottom: 0px;
}

.detalhe:hover {
	color: #fff;
}

.item-rule {
	text-align: center;
	font-weight: 600;
	color: #dca807;
	font-size: 2.7em;
	margin: 9px;
}

table.table.table-condensed td, table.table.table-condensed th {
	padding: 3px 5px;
	line-height: 1em;
}

table.table.table-condensed {
	margin-bottom: 0px;
}