<html>

<head>
<meta charset="UTF-8"></meta>
<title>Muffato</title>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'></link>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'></link>
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"></link>
<link rel="stylesheet" href="./css/style.css"></link>
</head>

<body ng-app="muffato" ng-controller="mktCtr">
	<div class="container-fluid">
		<h1 class="text-lg-center text-sm-center">
			<img src="./image/muffato.svg" class="logo-muffato" alt=""></img>
			<span class="titulo-app">{{title}}</span> 
			<img class="partners" src="https://static.wixstatic.com/media/9e540a_dc1e607177b94e40b2f56f191d31bd26.gif" alt=""></img>
			
		</h1>
		<div class="row line-search">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group">
					<input type="text" placeholder="CPF" ng-model="cpf" class="form-control input-lg" ng-keyup="$event.keyCode == 13 ? search() : null" /> <span class="input-group-btn">
						<button class="btn btn-default btn-lg" type="button" ng-click="search()">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<h2 class="text-lg-center text-sm-center customer"> {{recommendations[0].items[0].customerName}}</h2>

	</div>



	<div class="container">

		<div class="card " ng-repeat="recommendation in recommendations | orderBy:'-offerHeight'">
			<div class="recommendation" ng-class="{'prod': recommendation.offerType == 'PROD', 'cate': recommendation.offerType == 'CATE' }">

				<div class="col-lg-5 key">
					
					<a href="{{recommendation.items[0].offerTargetLink}}" target="_blank"> <img ng-src="{{recommendation.items[0].offerImageLink}}" class="img-responsive" /> </a>
					
				</div>
				<div class="col-lg-7">

					<h2 class="item-title">{{recommendation.items[0].offerId}} - {{recommendation.items[0].offerName}}</h2>

					<h3 class="item-validate">Validade: {{recommendation.items[0].offerStartDate}} até {{recommendation.items[0].offerEndDate}}</h3>



					<h2 class="item-rule">{{recommendation.items[0].offerRule}}</h2>

					<h3 class="item-validate">* {{recommendation.items[0].offerRuleCondition}}</h3>

					<a class="btn detalhe" ng-click="openDetail(recommendation)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>

				</div>

			</div>

			<div ng-show="recommendation.open" class="detail">
					<div ng-repeat="prod in recommendation.items" class="item-detail" ng-class="{'categoria': prod.offerType == 'CATE' }">
						
						<span ng-show="prod.offerType == 'PROD'">
							{{prod.offerKey}}
						</span>
						
						<span>
							{{prod.offerKeyDesc}}
						</span>
						
						
					
					</div>
			</div>

		</div>
	</div>
	<!-- 
	<code>{{recommendations}}</code> -->

	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js'></script>
	<script src="./js/index.js"></script>
</body>

</html>
